<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{REQUEST_URI} !^/PRIVACY_POLICY.pdf/
  RewriteCond %{REQUEST_URI} !^/add-admin/
  RewriteCond %{REQUEST_URI} !^/phpMyAdmin/
  RewriteBase /
  
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /index.html [L]
</IfModule>